yt.email = 
yt.password = 
yt.username = 
yt.developerKey = 

fb.clientId = 
fb.clientSecret = 
fb.accessToken = 

gp.clientId = 
gp.clientSecret =
gp.accessToken = 
gp.refreshToken = 

mdl.username =
mdl.password = 
mdl.url = 