<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]  %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="STDOUT_STACK" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}]  %m %caller{99}%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.apache.http" level="OFF" />
    <logger name="org.eclipse.jetty" level="OFF" />

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
