# Eclipse
.project
.metadata
bin/
tmp/

# Apache Maven
target/

*.tmp
*.class
*.bak
*.swp
*~.nib
*.log
*.log.1
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
