# Eclipse
.project
.metadata
bin/*
tmp/*
/target/*

*.tmp
*.class
*.bak
*.swp
*~.nib
*.log
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
