# Eclipse
.project
.metadata
bin/**
bin/**/*
tmp/**
tmp/**/*
/target/**
/target/**/*
*.tmp
*.class
*.bak
*.swp
*~.nib
*.log
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
